body{
  background-color: #111111;
  font-size: 16px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.form_container{
  margin: auto;
  margin-top: 50px;
  background-color: #181818;
  border-radius: 5px;
  width:30%;
  color:white;
  padding:20px;
  box-shadow: 0 0 8px #ea4c89;

}
.form_container label,input{
  display:block;
}

.form_container input{
  width: 80%;
  margin-bottom:8px;
  outline: none;
  background-color: #171717;
  border-radius:5px;
  padding:10px;
  color:white;
  border: solid 2px #3d3d3d;
}
.form_container input:hover{
  border: solid 2px #ea4c89;
  box-shadow: 0 0 8px #ea4c89;

}
.form_container button{
  margin: 5px 5px 0 0;
  outline:none;
  border:none;
  background-image: linear-gradient( #B97A95 , #ea4c89);
  border-radius: 12px;
  padding: 10px 15px;
  color:white;
  font-size:18px ;
}